


.calendar-section{
display: flex;
justify-content: center;
align-items: center;
border-radius: 2rem;
background-color:white;
margin: auto;
width: 80%;
max-width: 800px;
padding: 50px 0px;
box-shadow: 0 2px 8px rgb(0 0 0 / 20%);
}

.calendar{
    padding-bottom: 20px;
    color: white;
    margin:auto;
    background-color: #1c7c7c!important;
    /* border: 0.5rem solid #2ac2a4; */
    border-radius: 2rem;
}
.calendar-display{
    width: 60%;
}
.calendar td,th{
   text-align: center;
    line-height: 2.5rem;
    /* background-color:  #1d7575; */
/* border-radius: 1rem;
    border: 0.5rem solid #f4aaaa; */
    align-items: center;
    width:80px;
    height: 70px;
    padding-top: 15px;
    font-size: 2rem;

}
.calendar-display{
   
    border-radius: 2rem;
    
}
.seat-overlay{
    position: fixed;
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.77);
    text-align: center;
}
.overlay-message{
    background-color: rgb(244, 244, 244);
    display: inline-block;
    margin: auto;
    position: relative;
    top:300px;
    height: 200px;
    width: 40%;
    max-width: 350px;
  
    
    box-shadow: 0 20px 57px 0 rgba(51, 51, 51, 0.1);
    border-radius: 2rem;
    padding-bottom: 20px;

}
.calendar-month{

   text-align: center;
   font-size: 2.5rem;
   color: #000000;
   margin-top: 0;
}
.hide{
    display: none;
}
.prev-month{

margin-right: 20px;

}
.next-button,.prevButton{
    /* background-color: rgb(36, 180, 180); */
    background-color: white;
    color: black;

    border-radius: 50%;
    border: none;

    cursor: pointer;
}
.next-button:hover,.prevButton:hover{
color: #1c7c7c;
   
}
.next-button:disabled,
.next-button[disabled],.prevButton:disabled,.prevButton[disabled]{
    /* background-color: rgb(127, 148, 148); */
    color: grey;
  
 
    /* border: 1px solid teal; */
    border-radius: 50%;
cursor:not-allowed;
}
.next-month{
margin-left: 20px;
}

.hide{
    display: none;
}
.seat-no-overlay{

    font-size: 2rem;
    margin-top: 30px;
    margin-bottom: 40px;
    color:rgb(12, 10, 10)
}



.desk-layout{

    
    background-color: rgb(244, 244, 244);
    width:90%;
    border-radius: 2ch;
    margin:5px auto 30px auto;
    z-index: 100;
    top:100px;
    

}
.seat:hover{
    background-color: rgb(112, 239, 110);
}

.desk-overlay{
    position: fixed;
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.77);

}
.select-desk-overlay{

    position: relative;
    top:15%;
    border-radius: 2rem;
    width: 84%;
    max-width: 1000px;
    margin:auto;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 20px 57px 0 rgba(51, 51, 51, 0.1);
    background-color:rgb(255, 255, 255) ;
}
.desk-layout-overlay{

    
    background-color: rgb(244, 244, 244);
    width:90%;
    border-radius: 2ch;
    margin:5px auto 30px auto;
    z-index: 100;
    top:100px;
    

}

/* .select-desk-header{
   
    margin:20px auto 20px auto;
    text-align: center;
   width:40%;
   font-size: 2.5rem;
} */
/* .seats-row{
display: flex;
padding:20px 38px 20px 38px;

}
.row-A{
    padding-top:50px;
}
.row-C{
    padding-bottom:50px;
}
.seat{
    width:10%;
    height:50px;
    margin:0px 10px 0px 10px;
    background-color: white;
    text-align: center;
    
    padding-top:16px;
    border-radius: 0.3rem;
    font-size: 2.2rem;
} */
.calendar-seat{
    display: inline-block;
    color: black;
    width: 25px;
    background-color: white;
    border-radius: 8px;
    position: relative;
    top:5px;
    padding: 5px;
}
.calendar-seat:hover{
    background-color: rgb(221, 252, 83) ;
    cursor: pointer;
}
.hidden{
    visibility: hidden;
}

.submit-buttons{
    text-align: center;
}

.form-buttons{
    font-size: 2rem;
    margin-right:10px ;
}
.overlay-info{
    display: inline-block;
    font-size: 2.5rem;
    margin: 5px;
}

@media(max-width:1000px)
{

.calendar-section{
  width:80%;
}
.calendar-display{
    width: 80%;
}

}
@media(max-width:700px)
{
.logo img{
    width:140px !important;
    height: 40px !important;
    padding-top: 3px;
}
.home,.bookings{
    position: relative;
    left: 25%;
    padding: 13px 15px 13px 15px;
    font-size: 2.5rem !important;
}

}
@media(max-width:700px)
{
.logo img{
    width:125px !important;
    height: 35px !important;
    padding-top: 3px;
    padding-left: 0px;
}
.home,.bookings{
    position: relative;
    left: 23%;
    padding: 13px 5px 13px 5px;
    font-size: 1.8rem !important;
}




.calendar-section{
   
    border-radius: 1rem;
    background-color:white;
    margin: auto;
    width: 94%;
    max-width: 800px;
    padding: 10px 0px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 20%);
    }
    
    .calendar{
        padding-bottom: 20px;
        color: white;
        margin:auto;
        margin-bottom: 10px;
        background-color: #1c7c7c!important;
        /* border: 0.5rem solid #2ac2a4; */
        border-radius: 1rem;
    }
    .calendar-display{
        width: 86%;
    }
    .calendar td,th{
       text-align: center;
        line-height: 3.8vw;
  
        align-items: center;
        width:80px;
        height: 50px;
        padding-top: 10px;
        font-size: 4vw;
    
    }
    .header td,th{
        text-align: center;
         line-height: 2.8vw;
   
         align-items: center;
         width:80px;
         height: 30px;
         padding-top: 5px;
         font-size: 4vw;
     
     }
    .calendar-display{
       
        border-radius: 2rem;
        
    }
    .calendar-month{

        text-align: center;
        font-size: 5vw;
        color: #000000;
        margin-top: 10px;
     }
     .calendar-seat{
        display: inline-block;
        color: black;
        width: 4vw;
        background-color: white;
        border-radius: 6px;
        position: relative;
        top:5px;
        padding: 5px;
    }
   .header{
    height: 40px !important;
   }
   .next-button,.prevButton{

    background-color: white;
    display: inline-block;
    height: 32px;
    width: 16px;
   font-size: 30px !important;
   
    padding: 0px;
 
}.prev-month{

    margin-right: 2px !important;
    
    }
.next-month{
    margin-left: 2px !important;
    }
.next-button:hover,.prevButton:hover{
    color: #1c7c7c;
       
    }
    .next-button:disabled,
    .next-button[disabled],.prevButton:disabled,.prevButton[disabled]{
  
        color: grey;
 
        border-radius: 50%;
    cursor:not-allowed;
    }
.overlay-message{
    background-color: rgb(244, 244, 244);
    display: inline-block;
    margin: auto;
    position: relative;
    top:200px;
    height: 150px;
    width: 70%;
 
  
    
    box-shadow: 0 20px 57px 0 rgba(51, 51, 51, 0.1);
    border-radius: 2rem;
    padding-bottom: 20px;

}

.form-buttons{
    background-color: teal;
    color: white;
    border-radius: 6px;
    padding: 0.75rem 1.5rem;
    border: 1px solid teal;
    cursor: pointer;
}
.form-buttons{
    font-size: 1.5rem;
    margin-right:5px ;
}

.seat-no-overlay{

    margin-top: 20px;
    margin-bottom: 30px;
    color:rgb(12, 10, 10)
}
.overlay-info{
    display: inline-block;
    font-size: 2rem;
    margin: 5px;
}

}

@media (max-width:375px)
{


.form-buttons{
    background-color: teal;
    color: white;
    border-radius: 6px;
    padding: 0.6rem 1rem;
    border: 1px solid teal;
    cursor: pointer;
}
.form-buttons{
    font-size: 1.5rem;
    margin-right:5px ;
}

    .logo img{
        width:110px !important;
        height: 32px !important;
        padding-top: 0.2px;
        padding-left: 0px;
    }
    .home,.bookings{
        position: relative;
        left: 26%;
        padding: 11px 3px 11px 3px;
        font-size: 1.6rem !important;
    }
    .form-buttons {
        font-size: 1.5rem;
        padding: 0.8rem 1.2rem;
        margin-right: 5px;
    }
    .form-buttons:disabled,.form-buttons[disabled]{
        background-color: rgb(127, 148, 148);
        color: white;
        border-radius: 4px;
        padding: 0.8rem 1.2rem;
        
        pointer-events: none;
      
    }



}
@media (max-width:325px)
{
    .logo img{
        width:100px !important;
        height: 29px !important;
        padding-top: 0.2px;
        padding-left: 0px;
    }
    .home,.bookings{
        position: relative;
        left: 28%;
        padding: 11px 3px 11px 3px;
        font-size: 1.2rem !important;
    }
    


}