html{
    font-size: 62.5%;
}


body{
   margin-top: 0;
   margin-left: 0;
   margin-right: 0;
   background-color: #f8f8ff;
}



.top-nav a {
    float: left;
     color: white;
    text-decoration: none;
    font-size: 2.5rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style:Monaco;
    border-radius: 0.5rem;

}
.top-nav a:hover{
    background-color: #1d7575;
   
    
}
.active{
    background-color: #33a1a1;
}
.home,.bookings{
    padding:18px 25px 18px 25px;
}

header{

display: flex;
position: sticky;
background-color: #135f5f;
justify-content:space-between;
margin-bottom: 50px;
padding:0 10%;
top:0;
}

.logo{

padding-top: 4px;

}


.desk-layout{

   
    background-color: rgb(244, 244, 244);
    
    width:90%;
    border-radius: 2ch;
    margin:5px auto 30px auto;
 

}
.seat:hover{
    background-color: rgb(112, 239, 110);
    cursor: pointer;
}
.select-desk{
    border-radius: 2rem;
    width: 84%;
    max-width: 1000px;

    margin:auto;
   padding-top: 3rem;
    padding-bottom: 20px;
    box-shadow: 0 20px 57px 0 rgba(51, 51, 51, 0.1);
    background-color:rgb(255, 255, 255) ;

}
.header-message-text{
    margin-top: 0px;
    margin-bottom: 30px;
}

/* .select-desk-header{
   
    margin:20px auto 20px auto;
    text-align: center;
   width:40%;
   font-size: 2.5rem;
} */
.seats-row{
display: flex;
padding:20px 38px 20px 38px;

}
.row-A{
    padding-top:50px;
}
.row-C{
    padding-bottom:50px;
}
.seat{
    width:10%;
  
    margin:0px 10px 0px 10px;
    background-color: white;
    text-align: center;
    padding-top:2.5%;
    padding-bottom:2.5%;
    font-size: 1.8vw !important;
    /* line-height: 200%; */
    border-radius: 0.8rem;
    font-size: 2.2rem;
}

.seat:hover{
    background-color: green !important;
}




.form-header-text{
    font-size: 3rem;
   text-align: center;
   margin-bottom: 20px;
   color:#008080;
   /* font-family: */
}

.location-label{
    font-size: 2.5rem;
    position: absolute;
 
 top:28px;
 left:30px;
}
#location{
    font-size: 2rem;
    background-color: rgb(208, 207, 207);
    text-align: center;
}
.scrollBar{
    display: inline-block;
    width:175px;
    height: 152px;
    margin-right: 0;
    overflow-y: scroll;
    position: relative;
    left:92px;
  
}

.select-location{
position: relative;
  height: 240px;
  width: 25%;
  min-width: 400px;
  margin:auto;
  margin-top: 60px;
    text-align: center;
    padding-top: 30px;
    border-radius: 2rem;
    background-color: white;
    box-shadow: 0 2px 8px rgb(0 0 0 / 20%);

}

.submit-location{
    text-decoration: none;
    position: relative;
    font-size: 2rem;
    top:30px;
    background-color: teal;
    color: white;
    border-radius: 4px;
    padding: 0.75rem 1.5rem;
    border: 1px solid teal;
    cursor: pointer;
}
#location:hover{
    background-color: rgb(205, 203, 203);
}
.extra{

    height: 200px;
}




.select-date{
    height: 170px;
    width: 35%;
    max-width: 400px;
  
      text-align: center;
      padding-top: 30px;
      border-radius: 2rem;
      background-color: white;
    box-shadow: 0 2px 8px rgb(0 0 0 / 20%);
      margin:auto;
      margin-top: 60px;
}
.select-date-header{
    font-size: 2.5rem;
    margin: 10px;
}
#date-selected{
    font-size: 2rem;
}
.submit-date,.back-location{
    position: relative;
    font-size: 2rem;
    top:30px;
    background-color: teal;
    color: white;
    border-radius: 4px;
    padding: 0.75rem 1.5rem;
    border: 1px solid teal;
    cursor: pointer;
}
    
.form-buttons{
    background-color: teal;
    color: white;
    border-radius: 8px;
    padding: 0.75rem 1.5rem;
    border: 1px solid teal;
    cursor: pointer;
}
.form-buttons:disabled,.form-buttons[disabled]{
    background-color: rgb(127, 148, 148);
    color: white;
    border-radius: 4px;
    padding: 0.75rem 1.5rem;
    
    pointer-events: none;
  
}


.hide{
    display: none;
}
.back-seat,.submit-desk{
    font-size: 2rem;
}
.submit-buttons{
   
    text-align: center;
}
.form-buttons:hover{
    background-color:  #33a1a1

}
.date-error{
    font-size: 1.5rem;
    position: relative;
  left: 12%;
    top:4px;
    color: red;
}

.hidden{
   display: none;
}
.select-date .error{
    margin: 7px;
    height: 22px;
}
[data-color="0"]{
    background-color: red !important;
}
[data-color="0"]:hover{
    background-color: red !important;
}
[data-color="1"]{
    background-color: grey !important;
}
[data-color="1"]:hover{
    background-color: grey !important;
}
[data-color="2"]{
    background-color: white !important;
}
[data-color="3"]{
    background-color: green !important;
}
[data-color="4"]{
    background-color: yellow !important;
}
[data-color="4"]:hover{
    background-color: yellow !important;
}
.hide {
    display: none;
}

.overlay-info{

    font-size: 2rem;
    margin: 5px;
}

.message-box{
    position: relative;
    top:300px;
    height: 120px;
    width: 35%;
    max-width: 400px;
      text-align: center;
      padding-top: 30px;
      border-radius: 2rem;
      background-color: white;
    box-shadow: 0 2px 8px rgb(0 0 0 / 20%);
      margin:auto;
      

}
.message-content{
    line-height: 8rem;
    font-size: 2.5rem;
}
.success-message-overlay{
    position: fixed;
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.77);
    text-align: center;
}

.booked-seat{
    background-color: red;
   
}
.unavailable-seat{
    background-color: grey;
}
.new-seat{
    background-color: green;
}
.current-seat{
    background-color: rgb(237, 237, 2);
}
.select-desk-header{
    text-align: center;
    
    margin-bottom: 10px;
}
.seat-colors{
    margin-left: 0%   ;
}
.seat-shape{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 2rem;
}
.header-message{
    font-size: 3.5rem;
}
.color-text{
    margin-left:5px;
    margin-right: 15px;
    font-size: 1.7rem;
}



.loader{
    margin: auto;
  margin-top: 100px;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  @media(max-width:1000px)
  {

.calendar-section{
    width:60%;
}

  }

  @media(max-width:390px){

    .select-location{
        position: relative;
          height: 240px;
          width: 200px !important;
     
          margin:auto;
          margin-top: 60px;
            text-align: center;
            padding-top: 30px;
            border-radius: 2rem;
            background-color: white;
            box-shadow: 0 2px 8px rgb(0 0 0 / 20%);
        
        }
        .location-label{
            font-size: 6vw;
            position: absolute;
         
         top:28px;
         left:30px;
        }
        #location{
            font-size: 4vw;
            background-color: rgb(208, 207, 207);
            text-align: center;
        }
        .scrollBar{
            display: inline-block;
            width:155px;
            height: 152px;
            margin-right: 0;
            overflow-y: scroll;
            position: relative;
            left:70px;
          
        }
        .select-date{
            height: 170px;
            width: 85%;
            max-width: 400px;
               
              text-align: center;
              padding-top: 30px;
              border-radius: 2rem;
              background-color: white;
            box-shadow: 0 2px 8px rgb(0 0 0 / 20%);
              margin:auto;
              margin-top: 60px;
        }
        .select-date-header{
            font-size: 2rem;
            margin: 10px;
        }
        #date-selected{
            font-size: 1.8rem;
        }
  }