html{
    font-size: 62.5%;
}


body{
   margin-top: 0;
   margin-left: 0;
   margin-right: 0;
}


.top-nav{
    background-color: black;
    position: relative;
  
    border-style: groove;
   
    border-radius: 0.8rem;
}
.top-nav a {
    float: left;
     color: white;
    text-decoration: none;
    font-size: 2.5rem;

}
.top-nav a:hover{
    background-color: rgb(188, 202, 92);
    
}
.home{
    padding:16px 25px 16px 25px;
}
.bookings{
   
        padding:16px 20px 16px 20px;
    
}
header{

display: flex;
background-color: rgb(240, 240, 240);
justify-content:space-between;
margin-bottom: 100px;
}

.logo{
position: relative;
left:30px;
padding-top: 4px;

}


.desk-layout{

   
    background-color: rgb(244, 244, 244);
    width:90%;
    border-radius: 2ch;
    margin:5px auto 30px auto;
 

}
.seat:hover{
    background-color: rgb(112, 239, 110);
    cursor: pointer;
}
.select-desk{
    border-radius: 2rem;
    width: 84%;
    margin:auto;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 20px 57px 0 rgba(51, 51, 51, 0.1);
    background-color:rgb(255, 255, 255) ;

}

.select-desk-header{
   
    margin:20px auto 20px auto;
    text-align: center;
   width:40%;
   font-size: 2.5rem;
}
.seats-row{
display: flex;
padding:20px 38px 20px 38px;

}
.row-A{
    padding-top:50px;
}
.row-C{
    padding-bottom:50px;
}
.seat{
    width:10%;
    height:65px;
    margin:0px 10px 0px 10px;
    background-color: white;
    text-align: center;
    
    line-height: 6.5rem;
    border-radius: 0.3rem;
    font-size: 2.2rem;
}

.seat:hover{
    background-color: green !important;
}




.form-header-text{
    font-size: 3rem;
   text-align: center;
}

.location-label{
    font-size: 2.5rem;
}
#location{
    font-size: 2rem;
}

.select-location{
  height: 120px;
  width: 25%;
  min-width: 400px;
  margin:auto;
    text-align: center;
    padding-top: 30px;
    border-radius: 2rem;
    box-shadow: 0 20px 57px 0 rgba(51, 51, 51, 0.1);
}
#location:hover{
    background-color: rgb(205, 203, 203);
}
.extra{

    height: 200px;
}




.select-date{
    height: 120px;
    width: 25%;
      text-align: center;
      padding-top: 30px;
      border-radius: 2rem;
      box-shadow: 0 20px 57px 0 rgba(51, 51, 51, 0.1);
      margin:auto;
}
.select-date label{
    font-size: 2.5rem;
}
#date-selected{
    font-size: 2rem;
}
.submit-date,.submit-location,.back-location{
    position: relative;
    font-size: 2rem;
    top:30px
    
}
.submit-date:hover{

    background-color: rgb(205, 203, 203);
}
.hide{
    display: none;
}
.back-seat,.submit-desk{
    font-size: 2rem;
}
.submit-buttons{
   
    text-align: center;
}
.form-buttons:hover{
    background-color: rgb(143, 140, 140);;
}
.date-error{
    font-size: 1.5rem;
    position: relative;
    left:40px;
    top:4px;
    color: red;
}
.desk-error{
    font-size: 1.5rem;
    color: red;
    position: relative;
    right: 30px;
}
.hidden{
   display: none;
}
.error{
    height: 22px;
}
[data-color="0"]{
    background-color: red !important;
}
[data-color="1"]{
    background-color: grey !important;
}
[data-color="2"]{
    background-color: white !important;
}
[data-color="3"]{
    background-color: green !important;
}