html{
    font-size: 62.5%;
}


body{
   margin-top: 0;
   margin-left: 0;
   margin-right: 0;
   background-color: #e8fbfb;
}


.top-nav{
  
   
    
}
.top-nav a {
    float: left;
     color: white;
    text-decoration: none;
    font-size: 2.5rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style:Monaco;
    border-radius: 1rem;

}
.top-nav a:hover{
    background-color: #1d7575;
   
    
}
.active{
    background-color: #33a1a1;
}
.home,.bookings{
    padding:18px 25px 18px 25px;
}

header{

display: flex;
position: sticky;
background-color: #135f5f;
justify-content:space-between;
margin-bottom: 50px;
padding:0 10%;
top:0;
}

.logo{

padding-top: 4px;

}


.desk-layout{

   
    background-color: rgb(244, 244, 244);
    
    width:90%;
    border-radius: 2ch;
    margin:5px auto 30px auto;
 

}
.seat:hover{
    background-color: rgb(112, 239, 110);
    cursor: pointer;
}
.select-desk{
    border-radius: 2rem;
    width: 84%;
    max-width: 1000px;
    margin:auto;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 20px 57px 0 rgba(51, 51, 51, 0.1);
    background-color:rgb(255, 255, 255) ;

}

.select-desk-header{
   
    margin:20px auto 20px auto;
    text-align: center;
   width:40%;
   font-size: 2.5rem;
}
.seats-row{
display: flex;
padding:20px 38px 20px 38px;

}
.row-A{
    padding-top:50px;
}
.row-C{
    padding-bottom:50px;
}
.seat{
    width:10%;
    height:55px;
    margin:0px 10px 0px 10px;
    background-color: white;
    text-align: center;
    
    line-height: 4rem;
    border-radius: 0.3rem;
    font-size: 2.2rem;
}

.seat:hover{
    background-color: green !important;
}




.form-header-text{
    font-size: 3rem;
   text-align: center;
   margin-bottom: 100px;
   color:#008080;
   /* font-family: */
}

.location-label{
    font-size: 2.5rem;
}
#location{
    font-size: 2rem;
}

.select-location{
  height: 120px;
  width: 25%;
  min-width: 400px;
  margin:auto;
    text-align: center;
    padding-top: 30px;
    border-radius: 2rem;
    background-color: white;
    box-shadow: 0 2px 8px rgb(0 0 0 / 20%);
}
.submit-location{
    text-decoration: none;
    position: relative;
    font-size: 2rem;
    top:30px;
    background-color: teal;
    color: white;
    border-radius: 4px;
    padding: 0.75rem 1.5rem;
    border: 1px solid teal;
    cursor: pointer;
}
#location:hover{
    background-color: rgb(205, 203, 203);
}
.extra{

    height: 200px;
}




.select-date{
    height: 170px;
    width: 35%;
    max-width: 400px;
      text-align: center;
      padding-top: 30px;
      border-radius: 2rem;
      background-color: white;
    box-shadow: 0 2px 8px rgb(0 0 0 / 20%);
      margin:auto;
}
.select-date-header{
    font-size: 2.5rem;
    margin: 10px;
}
#date-selected{
    font-size: 2rem;
}
.submit-date,.back-location{
    position: relative;
    font-size: 2rem;
    top:30px;
    background-color: teal;
    color: white;
    border-radius: 4px;
    padding: 0.75rem 1.5rem;
    border: 1px solid teal;
    cursor: pointer;
}
    
.form-buttons{
    background-color: teal;
    color: white;
    border-radius: 8px;
    padding: 0.75rem 1.5rem;
    border: 1px solid teal;
    cursor: pointer;
}
.form-buttons:disabled,.form-buttons[disabled]{
    background-color: rgb(127, 148, 148);
    color: white;
    border-radius: 4px;
    padding: 0.75rem 1.5rem;
    
    pointer-events: none;
}


.hide{
    display: none;
}
.back-seat,.submit-desk{
    font-size: 2rem;
}
.submit-buttons{
   
    text-align: center;
}
.form-buttons:hover{
    background-color:  #33a1a1

}
.date-error{
    font-size: 1.5rem;
    position: relative;
  left: 12%;
    top:4px;
    color: red;
}

.hidden{
   display: none;
}
.select-date .error{
    margin: 7px;
    height: 22px;
}
[data-color="0"]{
    background-color: red !important;
}
[data-color="0"]:hover{
    background-color: red !important;
}
[data-color="1"]{
    background-color: grey !important;
}
[data-color="1"]:hover{
    background-color: grey !important;
}
[data-color="2"]{
    background-color: white !important;
}
[data-color="3"]{
    background-color: green !important;
}
[data-color="4"]{
    background-color: yellow !important;
}
[data-color="4"]:hover{
    background-color: yellow !important;
}
.hide {
    display: none;
}

.overlay-info{

    font-size: 2rem;
    margin: 5px;
}